
body{
    background-color: #fdfdfd;
}

.title{
    top:60px;
    position: relative;
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.title h1,.title h2{
    color:#fff;
}

article section{
    padding-top: 30px;
    padding-bottom: 30px;
}

article section .container{
    width: 70%;
}


article section .container .row{
    direction: rtl;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

article section .container .quest_ans
{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

article section .container .quest_ans:last-of-type {
    border-bottom: none;
}

article section .container .quest_ans div:first-of-type h3{
    padding: 5px 30px;
    background-color: #ffdfe1;
    margin-top: 0;
}

article section .container .quest_ans div:last-of-type h3{
    padding: 5px 30px;
    background-color: #dde9fb;
    margin-top: 0;
}

article section .container .quest_ans h4{
    line-height: 1.6;
}

article .ans{
    color:#666;
}
