
/*start mobile media*/
@media(max-width: 480px){

    h1{
        font-size: 20px;
        line-height: 1.7;
    }

    h2{font-size: 18px}

    article section{width: 80%}

    article .form .row{display:block}

    article .form label{font-size: 12px}

    article .form input{font-size: 12px}

    article .form .btn{font-size: 16px}




}
/*end mobile media*/






/*start smart phone and tablet media***********************************************************************************/
@media(min-width: 481px)and (max-width: 767px){

    article section{width: 80%}

    article .form .row{display:block}

}
/*end smart phone and tablet media*/





/*start small screen media*********************************************************************************************/
@media(min-width: 768px)and (max-width: 991px){

    .title .icons>div{    margin-bottom: 30px;    }

    article section {        width: 90%;}


}
/*end small screen media*********************************************************************************************/