

h2{
    color:#e74c3c;
}

.title{
    top:60px;
    position: relative;
    background-color: #333;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 90px;
}

.title h1,.title h2{
    color:#fff;
}

section .container{
    background-color: #fff;
    border:1px solid #bbb;
    -webkit-box-shadow: 0 0 1px 1px #eee;
    -moz-box-shadow: 0 0 1px 1px #eee;
    -o-box-shadow: 0 0 1px 1px #eee;
    box-shadow: 0 0 1px 1px #eee;
    margin-top: 40px;
    margin-bottom: 40px;
    padding:100px  20px 0;
}

.prices{
    border:1px solid #ddd;
    height: 100%;
    padding: 40px;
}

#owl-demo-prices .btn{
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
}

#owl-demo-prices .owl-pagination{
    top: -45px;
    left: 43%;
    position: absolute;
}

#owl-demo-prices .item ul{
    direction: rtl;
}

#owl-demo-prices .item ul li{
    margin-bottom: 10px;
    list-style: circle;
    font-size: 18px;
}

#owl-demo-prices .item .col-md-3:first-of-type ul li{
    color:#d9534f;
}

#owl-demo-prices .item .col-md-3:nth-of-type(2) ul li
{
    color:#5cb85c
}

#owl-demo-prices .item .col-md-3:nth-of-type(3) ul li
{
    color:#f0ad4e
}
#owl-demo-prices .item .col-md-3:nth-of-type(4) ul li
{
    color:#337ab7
}

#owl-demo-prices .item ul li h4{
    color:#555;
}


/*start carousel testimonials*/

.testimonials{
    padding-bottom: 50px;
}

.testimonials i{color: #989898
}

#owl-demo-testimonials .item
{
    width: 70%;
    margin: auto;
    border: 1px solid #eee;
    padding: 40px;
    background-color: #fff;
    position: relative;
    margin-top: 20px;
}

.owl-theme .owl-controls .owl-buttons div{
    border-radius: 0;
    opacity: .9;
    background-color:#989898;
    font-size: 50px;
    width: 60px;
}

.owl-theme .owl-controls .owl-buttons div i{
    color: #fff;
}

.owl-theme .owl-controls .owl-buttons  .owl-prev
{
    position: absolute;
    top: 70%;
    left: 71%;
}

.owl-theme .owl-controls .owl-buttons  .owl-next
{
    position: absolute;
    top: 70%;
    right: 17%;
}


.testimonials  .fa-quote-right{
    position: absolute;
    right: 10px;
}
.testimonials  .item h2{margin-bottom: 40px}

.testimonials .paragraph{height:200px;}

.testimonials  .lead{
    font-size: 18px;
    color:#777;
    line-height: 1.7;
    padding: 0 60px
}


#owl-demo-testimonials .item .person img{
    width:200px;
    max-height: 100px;
    margin-left: 50px;
    margin-right: 10px;
    float: left
}


#owl-demo-testimonials .item .person img:hover{
    cursor: pointer;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

#owl-demo-testimonials .item .person .name{
    display: inline-block;
    margin: 10px;
}



/*end carousel testimonials*/